.venv
**/*.pyc
**/*.sqlite3
data/
database/
.vscode
.coverage
htmlcov/
.env
.env*
.env.server
**/*.log
diff.txt
.gitignore
.git
schema.yml
.coveragerc
.dockerignore
docker-compose.yml
Dockerfile
*.http
pytest.ini

