POSTGRES_ADMIN_USER=db-admin
POSTGRES_ADMIN_PASSWORD=some_secret_password
POSTGRES_DB=powergrid_db

APP_DB_USER=app_user
APP_DB_PASSWORD=app_password
APP_DB_HOST=localhost
APP_DB_PORT=5433
APP_DB_NAME=powergrid_db
